@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";

.projects {
  background-color: $projectsAndSkillsBgColor;
  min-height: 100vh;

  .container {
    @include flex(space-evenly, flex-start);
    @include container;
    height: 100%;
    @media screen and (max-width: 550px) {
    display: block;
      margin: 0 10px;
    }
  }

  .searchSettings {
    max-width: 465px;
    margin: 0 auto;
    @media screen and (max-width: 550px) {
      text-align: center;
      padding: 10px;
      margin: 0;
    }
  }

  .notFoundResult {
    margin-top: 30px;
  }

  .select {
    padding: 2px 0;
    margin-left: 5px;
    border-radius: 2px;
    border: 1px solid grey;
  }

  .input {
    margin-left: 10px;
  }

}


