.projects {
    background-color: rgb(242 245 251);
.container {
    justify-content: space-evenly;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1325px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.projects h2 {
    text-align: center;
}
}


