.project {
  position: relative;
  max-width: calc((100% /2) - 20px);
  min-width: 485px;
  text-align: center;
  height: 100%;
  margin: 10px;

  .main{
    display: flex;
    gap:20px
  }

  .h3{
    margin: 0;
  }

  .linkButtons{
    text-align: left;
    display: flex;
  }

  .itemLi{
    text-align: left;
  }

  .button {
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -120%);
    padding: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .image {
    max-width: 280px;
    height: auto;
    border-radius: 3px;
    border: 1px solid #063148;
  }

  .description{
    margin-top: 10px;
  }
}






