@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.main {
  padding: 100px 0px 182px 0px;
  min-height: 100vh;
  background: $mainBgColor;

  .container {
    @include container();

    .ava {
      margin: 0 auto 48px;
      max-width: 300px;
    }

    .ava img {
      max-width: 100%;
      border-radius: 50%;
    }

    .text {
      text-align: center;
      color: $textColor;
      max-width: 930px;
      margin: 0 auto;
      font-size: 36px;

      & h2, & p {
        font-size: 24px;
      }

      .name {
        @include flex(center,center);
        margin: 0 auto;
        font-size: 90px;
        font-weight: 700;
        @media screen and (max-width: 500px) {
          font-size: 60px;
        }
        .lastname {
          background: #44CBE1;
        }
      }
    }
  }
}













