.skills {
    /*border: 1px solid;*/
    background: #F2F5FB;
}

 .container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
   max-width: 1325px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
   }

  .skills h2{
    text-align: center;
  }