@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";

.wrapperTitle {
  text-align: center;
  background: inherit;
  margin-bottom: 30px;

  .title {
    font: 24px Poppins;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 30px;
    padding-top: 30px;

    &:before, &:after {
      display: inline-block;
      line-height: 1;
      font-size: inherit;
      text-transform: uppercase;
      box-sizing: border-box;
      content: "";
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-bottom-color: $primaryColor;
      position: relative;
      top: 0px;

    }

    &:before {
      border-right-color: $primaryColor;
      right: 15px;
    }

    &:after {
      border-left-color: $primaryColor;
      left: 15px;
    }
  }
}





