.navigation {
    width: 400px;
    justify-content: space-between;
    display: flex;
    align-self: center;
    /*border: 1px solid;*/
}

.navigation .link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.5;
}

.navigation .link.active {
    color: #44CBE1
}

.link:hover {
    cursor: pointer;
    color:#44CBE1
}

