.header{
    /*border: 1px solid;*/
    z-index: 10;
    background:#063148;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .container{
        /*border: 1px solid;*/
        max-width: 1325px;
        width: 80%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}


