@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";
.header {
  z-index: 10;
  background: $headerAndFooterBgColor;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;

  .container {
    @include container();
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}


