@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";


.contacts {

  background: $projectsAndSkillsBgColor;
  max-width: 100%;
  text-align: center;

  .container {
    @include container;
    @include flex(space-around, self-start);

    .myContacts {
      width: 400px;

      ul {
        padding: 0;

        li {
          max-width: 100%;
          display: block;
          list-style: none;
          background: $textColor;
          margin: 20px;
        }
      }


      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .contactMe {
      width: 400px;

      .form {
        p {
          margin: 0 auto;
          text-align: left;
        }
      }

      input, textarea {
        max-width: 100%;
        padding: 10px 20px;
        display: block;
        width: 100%;
        border: none;
      }
    }
  }

  button {
    background: $headerAndFooterBgColor;
    color: $textColor;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    float: right;
    font: inherit;
    padding: 15px;
    &:hover{
      cursor: pointer;
    }
  }


}
